 <div class="dashboard-chart text-center">
 	<div class="m-t-10 text-center icon-content" *ngIf="widget.widgetProperty?.contents?.entitiesIcon?.isRequired">
      <i [ngStyle]="{'color':widget.widgetProperty?.contents?.entitiesIcon?.fontColor}"  class="{{widget?.widgetProperty?.contents?.entitiesIcon?.iconClass}} fa-{{widget?.widgetProperty?.contents?.entitiesIcon?.fontSize}}x"></i>
    </div>
 	<div class="m-t-10 widget-readings-box">
 		<div class="widget-reading-left">
 			<h4 [ngStyle]="{ 'font-size':widget.widgetProperty?.contents?.count?.fontSize+'px', 'font-family':widget.widgetProperty?.contents?.count?.fontFamily, 'color':widget.widgetProperty?.contents?.count?.fontColor}"> {{count.total}}</h4>
 			<p [ngStyle]="{ 'font-size':widget.widgetProperty?.contents?.count?.fontSize+'px', 'font-family':widget.widgetProperty?.contents?.count?.fontFamily, 'color':widget.widgetProperty?.contents?.count?.fontColor}">KW</p>
			<p [ngStyle]="{'font-size':widget.widgetProperty?.contents?.entities?.fontSize+'px','font-family':widget.widgetProperty?.contents?.entities?.fontFamily,'color':widget.widgetProperty?.contents?.entities?.fontColor}">Total</p>
 		</div>
 		<div class="widget-reading-right" style="margin-bottom: 0px;">
 			<ul class="reading-item-list">
 				<li class="reading-item" style="margin-bottom: 0px;">
 					<div>
 						<span [matTooltip]="count.minDeviceName" matTooltipPosition="before" [ngStyle]="{ 'font-size':widget.widgetProperty?.contents?.inactive?.fontSize+'px', 'font-family':widget.widgetProperty?.contents?.inactive?.fontFamily, 'color':widget.widgetProperty?.contents?.inactive?.fontColor}">{{count.minDeviceName}}&nbsp;{{widget?.widgetProperty?.contents?.inactive?.title}}</span>
 						<span [ngStyle]="{ 'font-size':widget.widgetProperty?.contents?.inactiveCount?.fontSize+'px', 'font-family':widget.widgetProperty?.contents?.inactiveCount?.fontFamily, 'color':widget.widgetProperty?.contents?.inactiveCount?.fontColor}">{{count.inactive}}KW</span>
 					</div>
 				</li>
 				<li class="reading-item" style="margin-bottom: 0px;">
 					<div>
 						<span [matTooltip]="count.maxDeviceName" matTooltipPosition="before" [ngStyle]="{ 'font-size':widget.widgetProperty?.contents?.active?.fontSize+'px', 'font-family':widget.widgetProperty?.contents?.active?.fontFamily, 'color':widget.widgetProperty?.contents?.active?.fontColor}">{{count.maxDeviceName}}&nbsp;{{widget?.widgetProperty?.contents?.active?.title}}</span>
 						<span [ngStyle]="{ 'font-size':widget.widgetProperty?.contents?.activeCount?.fontSize+'px', 'font-family':widget.widgetProperty?.contents?.activeCount?.fontFamily, 'color':widget.widgetProperty?.contents?.activeCount?.fontColor}">{{count.active}}KW</span>
 					</div>
 				</li> 
 			</ul>
 		</div>
 	</div>
 	<p class="small-widget-heading" [ngStyle]="{'font-size':widget.widgetProperty?.contents?.entities?.fontSize+'px','font-family':widget.widgetProperty?.contents?.entities?.fontFamily,'color':widget.widgetProperty?.contents?.entities?.fontColor}">{{widget?.widgetProperty?.contents?.entities?.title}}</p>
 </div>