<section class="content-header">
  <h1>
    <a (click)="location.back();" class="back-title-link" href="javascript:;">
      <i class="fa fa-angle-left"></i>
    </a>
    Refrigerator  Details
  </h1>
</section>
<div class="content">
  <div class="building-details-wrapper row">
    <div class="col-md-12 col-lg-3">
      <div class="drag-body dashboard-widget refrigerator-details-card m-b-30">
        <div class="panel-heading">
          <h5 class="panel-title p-l-10 p-r-10">
            <span class="status-indicator m-r-5"
                  [ngClass]="(deviceIsConnected) ? 'status-green' : 'status-red' "></span>
            {{objdetailref.name ? objdetailref.name : '' }}
          </h5>

          <a class="m-r-10 d-flex align-items-center"
             data-toggle="modal" href="#myModal">
            <img src="../../../assets/images/telemetry-icon.svg">
            <strong class="m-l-5">Telemetry</strong>
          </a>
        </div>
        <mat-card class="dashboard-card mat-card ">
          <div class="elevator-details-wrapp">
            <div class="elevator-image-box m-b-45">
              <img *ngIf="this.objdetailref.deviceImageFiles == ''"
              class="img-fluid" alt="" src="../../../../assets/images/noimage.svg">
              <ngx-slick-carousel class="carousel ref-dashboard-carousel"
                                  #refrigeratorCarousel="slick-carousel"
                                  [config]="slideConfig">
                <div ngxSlickItem *ngFor="let imagesdata of this.objdetailref.deviceImageFiles">
                  <div class="user-grid-box p-0">
                    <div class="grid-inner-flex d-flex align-items-center p-0">
                      <!-- <div class="user-image-box">
                        <img alt="" class="img-fluid ng-star-inserted"
                          src="../../../../assets/images/refrigerator-image.svg">
                      </div>            -->
                      <div class="user-detail-box">
                        <img alt="" class="img-fluid"
                             src="{{imgUrl + imagesdata.filePath}}" />
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
            <!-- <div class="elevator-image-box" *ngIf="nomediaUrl == null">
                <img class="img-fluid" alt="" src="../../../../assets/images/noimage.svg">
            </div>       -->

            <div class="dark-card-box support-package-dark-card-box m-t-15"
            *ngIf="mediaFiles.length">
              <div class="dark-card-header">
                <div class="dark-card-header-left">
                  <div class="dark-card-header-title"><span>Media Files</span></div>
                </div>
              </div>
              <div class="dark-card-body p-b-0" >
                <a href="javascript:;" class="media-files-link"
                *ngFor="let filedata of mediaFiles"
                   (click)="downloadPdf(filedata.filePath,filedata.description,filedata.fileName.split('.').slice(1, 2).join('.'))"
                   [matTooltip]="filedata.description ? filedata.description : 'N/A'"
                   matTooltipPosition="below" >
                  <i class="fas fa-file-pdf"
                     *ngIf="filedata.fileName.split('.').slice(1, 2).join('.') == 'pdf'"></i>
                  <i class="fas fa-file-word"
                     *ngIf="filedata.fileName.split('.').slice(1, 2).join('.') == 'docx' ||
                    filedata.fileName.split('.').slice(1, 2).join('.') == 'docx'"></i>
                </a>
              </div>
            </div>

            <div class="elevator-details-box">
              <h3 class="details-title">Description</h3>
              <div [innerHTML]="this.objdetailref.description" class="description-box"></div>
            </div>
            <div class="elevator-specs-list">
              <h3 class="specs-title">Specifications</h3>
              <ul class="m-0">
                <li>
                  <span class="spec-type">Model  </span>
                  <span class="spec-name">{{this.objdetailref.model}} Door</span>
                </li>
                <li>
                  <span class="spec-type">Power  </span>
                  <span class="spec-name">{{this.objdetailref.power}}</span>
                </li>
                <li>
                  <span class="spec-type">Voltage  </span>
                  <span class="spec-name">{{this.objdetailref.voltage}} V</span>
                </li>
                <li>
                  <span class="spec-type">Capacity  </span>
                  <span class="spec-name">{{this.objdetailref.capacity}} Ltr</span>
                </li>
                <li>
                  <span class="spec-type">Net Weight  </span>
                  <span class="spec-name">{{this.objdetailref.netWeight}}</span>
                </li>
              </ul>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-md-12 col-lg-8">

          <div class="row dashboardtop-widget">
            <div class="col-xl-4 col-lg-4 m-b-20"
                 *ngFor="let smallWidget of smallWidgetData; let i = index;">
              <div class="dashboard-chart text-center refrigerator-couter-card" [ngClass]="{ 'bggreenlwidget' : i == 0, 'bgbluewidget' : i == 1, 'bgwarningwidget' : i == 2,
'bgpinkwidget' : i == 3, 'bgyellowwidget' : i == 4, 'bgorangewidget' : i == 5 }">
                <h4 *ngIf="smallWidget.smallWidgetTitle == 'Temperature' ">
                  {{ WidgetData.temp? WidgetData.temp : 0 }} <sup>o</sup>F
                  <p class="small-widget-heading">TEMPERATURE</p>
                </h4>
                <h4 *ngIf="smallWidget.smallWidgetTitle == 'Humidity' ">
                  {{ WidgetData.humidity ? WidgetData.humidity : 0 }}%
                  <p class="small-widget-heading">HUMIDITY</p>
                </h4>
                <h4 *ngIf="smallWidget.smallWidgetTitle == 'Energy Consumption'">
                  {{ WidgetData.currentin ? WidgetData.currentin : 0 }} KW
                  <p class="small-widget-heading">ENERGY CONSUMPTION</p>
                </h4>
                <h4 *ngIf="smallWidget.smallWidgetTitle == 'CO2' ">
                  {{ WidgetData.co2 ? WidgetData.co2 : 0}} ppm
                  <p class="small-widget-heading">CO2</p>
                </h4>
                <h4 *ngIf="smallWidget.smallWidgetTitle == 'Door' ">
                  {{ WidgetData.isdooropen ? WidgetData.isdooropen : 0}}
                  <p class="small-widget-heading">DOOR</p>
                </h4>
                <h4 *ngIf="smallWidget.smallWidgetTitle == 'Vibration Level' ">
                  {{ WidgetData.vibration ? WidgetData.vibration : 0 }} Hz
                  <p class="small-widget-heading">VIBRATION LEVEL</p>
                </h4>
              </div>
            </div>
          </div>

          <div class="drag-body dashboard-widget building-details-widget elevator-widget-card m-b-30">
            <div class="panel-heading">
              <h5 class="panel-title"> Energy Consumption </h5>
              <div class="m-r-20">
                <mat-radio-group (change)="changeGraphFilter($event)" aria-label="Select an option" class="d-flex align-items-center">
                  <mat-radio-button checked value="Day">Day</mat-radio-button>
                  <mat-radio-button value="Week">Week</mat-radio-button>
                  <mat-radio-button value="Month">Month</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <mat-card class="dashboard-card mat-card">
              <google-chart [data]="columnChart "></google-chart>
            </mat-card>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="dashboard-chart bggreenlwidget text-center hour-module-widget m-b-20"
          *ngIf="maintenanceSchescheduled">
            <h4>{{maintenanceSchescheduled}}</h4>
            <p class="small-widget-heading">Maintenance Scheduled</p>
          </div>
          <div class="drag-body dashboard-widget elevator-widget-card m-b-20">
            <div class="panel-heading">
              <h5 class="panel-title"> Maintenance History </h5>
            </div>
            <mat-card class="dashboard-card mat-card">
              <ng-scrollbar class="my-scrollbar m-b-50" trackX="false" trackY="true"
              autohide="false" [compact]="false"
              *ngIf="maintenanceList.length">
                <ul class="maintenance-card-list "
                [ngStyle]="{ 'height': maintenanceSchescheduled ? '190px' : '260px' }">
                  <li *ngFor="let list of maintenanceList">
                    <span class="maintain-name">{{list['deviceName']}} - {{list['entityName']}}</span>
                    <span class="maintain-details">{{list['description']}}</span>
                    <div class="maintenance-date text-right">
                      <span>{{list['startDate'] | date}}</span>
                    </div>
                  </li>
                </ul>
              </ng-scrollbar>
              <div [ngStyle]="{ 'height': maintenanceSchescheduled ? '190px' : '260px' }"
                *ngIf="maintenanceList.length==0" class="centerclass">
                No records found
              </div>
            </mat-card>
          </div>
          <div class="drag-body dashboard-widget elevator-widget-card">
            <div class="panel-heading">
              <h5 class="panel-title alerts-title"> Alerts </h5>
              <div style="margin-right: 20px;" class="tab-link-bar">
                <a [routerLink]="['/alerts/refrigerator/',refrigeratorGuid]" href="javascript:;" *ngIf="alerts.length">View All</a>
              </div>
            </div>
            <mat-card class="dashboard-card mat-card">
              <ng-scrollbar class="my-scrollbar m-b-50" trackX="false" trackY="true"
              autohide="false" [compact]="false"
              *ngIf="alerts?.length>0" [ngStyle]="{ 'height': maintenanceSchescheduled ? '192px' : '260px' }">
                <ul class="alerts-dashboard alerts-dashboard-legend">
                  <li *ngFor="let alert of alerts" [ngClass]="alert['severity']">
                    <span class="alerts-date">{{getLocalDate(alert['eventDate'])}}</span>
                    <span class="alerts-info">{{alert['message']}}</span>
                    <span class="alerts-location">{{alert['buildingName']}}</span>
                  </li>
                </ul>
              </ng-scrollbar>
              <div *ngIf="!alerts.length" class="centerclass"
                [ngStyle]="{ 'height': maintenanceSchescheduled ? '192px' : '260px' }"
                style="margin-bottom:40px;">
                No records found
              </div>
              <div class="alert-indicator-wrapper">
                <div class="alert-indicator-list">
                  <div class="alert-indicator Critical">
                    <span class="legend"></span>
                    <span class="alert-text">Critical</span>
                  </div>
                  <div class="alert-indicator Information">
                    <span class="legend"></span>
                    <span class="alert-text">Information</span>
                  </div>
                  <div class="alert-indicator Major">
                    <span class="legend"></span>
                    <span class="alert-text">Major</span>
                  </div>
                  <div class="alert-indicator Minor">
                    <span class="legend"></span>
                    <span class="alert-text">Minor</span>
                  </div>
                  <div class="alert-indicator Warning">
                    <span class="legend"></span>
                    <span class="alert-text">Warning</span>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-12 col-lg-12">
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="{{sens.attributeName | uppercase}}" *ngFor="let sens of sensdata">
          <div class="tab-content-inner">
            <div class="drag-body dashboard-widget">
              <mat-card class="dashboard-card mat-card">
                <div class="m-r-20">
                  <mat-radio-group (change)="changeGraphAttribute($event)" aria-label="Select an option" class="d-flex align-items-center">
                    <mat-radio-button [checked]="type == 'd'?'true':'false'" value="Day">Day</mat-radio-button>
                    <mat-radio-button [checked]="type == 'w'?'true':'false'" value="Week">Week</mat-radio-button>
                    <mat-radio-button [checked]="type == 'm'?'true':'false'" value="Month">Month</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div *ngIf="!isChartLoaded" style="padding: 188px;text-align: center;">
                  Loading...
                </div>
                <ng-container *ngIf="isChartLoaded">
                  <google-chart [data]="columnChartattribute "></google-chart>
                </ng-container>

              </mat-card>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

</div>
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content drag-body ">

      <div class="panel-heading">
        <h4 class="panel-title">Telemetry Data</h4>
        <button type="button" [disableRipple]="true" matSuffix mat-button class="close mr-3"
                data-dismiss="modal">
          &times;
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-body-header justify-content-end align-items-center">
          <h2>{{uniqueId}}</h2>
          <button mat-icon-button class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown">
            <mat-icon>more_horiz</mat-icon>
          </button>

        </div>
        <div class="modal-body-data">
          <div>

            <canvas baseChart [chartType]="'line'" [datasets]="datasets" [options]="optionsdata">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
