<div class="drag-body dashboard-widget">
	<div class="panel-heading" [ngStyle]="{'background':widget?.widgetProperty?.background}">
		<h5 class="panel-title"
		[ngStyle]="{'font-size':widget?.widgetProperty?.fontSize+'px',
		'font-family':widget?.widgetProperty?.fontFamily,
		'color':widget?.widgetProperty?.fontColor}"> {{widget?.widgetProperty?.title}} </h5>
		<div class="tab-link-bar">
		</div>
	</div>
	<mat-card class="dashboard-card mat-card">
	<div *ngIf="alerts.length==0" class="centerclass">No records found</div>
		<ng-scrollbar [ngStyle]="{'height':(widget?.properties?.h-120)+'px'
		}" class="my-scrollbar dashboard-alerts dasboard-alert-scroll" trackX="false" trackY="true" autohide="false">
			<ul *ngIf="alerts.length>0" class="alerts-dashboard">
				<li class="alert-{{alert['severity']}}" *ngFor="let alert of alerts">
					<span class="alerts-date">{{getLocalDate(alert['eventDate'])}}</span>
					<span class="alerts-info">{{alert.message}}</span>
				</li>
			</ul>
		</ng-scrollbar>
		
		<div *ngIf="alerts.length>0" class="alert-indicator-wrapper">
			<div class="alert-indicator-list">
				<div class="alert-indicator Critical">
					<span class="legend"></span>
					<span class="alert-text">Critical</span>
				</div>
				<div class="alert-indicator Information">
					<span class="legend"></span>
					<span class="alert-text">Information</span>
				</div>
				<div class="alert-indicator Major">
					<span class="legend"></span>
					<span class="alert-text">Major</span>
				</div>
				<div class="alert-indicator Minor">
					<span class="legend"></span>
					<span class="alert-text">Minor</span>
				</div>
				<div class="alert-indicator Warning">
					<span class="legend"></span>
					<span class="alert-text">Warning</span>
				</div>
			</div>
		</div>
	</mat-card>
</div>



